/*Navbar*/
.custom-navbar{
  display: flex;
  flex-direction: row;
  width: 100dvw;
  height: 10dvh;
  background-color: yellow;
  justify-content: space-around;
  align-items: center;
  font-family:Arial, Helvetica, sans-serif;
}
.LOGO{
  display: flex;
  height: 100%;
  width: 25%;
  justify-content: center;
  align-items: center;
  font-size: large;
}
.flex-menu{
  display: flex;
  width: 75%;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5vw;
}
.link{
  text-decoration: none;
}
.mobileMenu{
  display: none;
}
@media screen and (max-width:768px) {
  /*
  .flex-menu{
    justify-content: center;
    align-items: center;
  }
  */
  .mobileMenu{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .link-page{
    display: none;
  }
}
/*Footer*/
.custom-footer{
  display: flex;
  width: 100vw;
  height:10dvh;
  background-color: orange;
  justify-content: center;
  align-items: center;
}
.footer-text{
  font-family:Arial, Helvetica, sans-serif;
}