.grid{
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 0.25fr 4fr 0.25fr;
  grid-template-rows: auto 4fr  auto;
  grid-template-areas: 
   "nav nav nav"
   "empty1 contents empty2"
   "footer footer footer"; 
 }
nav{
  grid-area: nav;
}
.empty1{
  grid-area:empty1 ;
  background-color: bisque;
}
.contents{
  grid-area: contents;
  display: flex;
  background-color: red;
  justify-content: center;
  align-items: center;
}
.empty2{
  grid-area: empty2;
  background-color: bisque;
}
footer{
  grid-area: footer;
}
@media screen and (max-width:1200px) {
.grid{
  display: grid;
  grid-template-columns: 0.25fr 4fr 0.25fr;
  grid-template-rows: auto 4fr  auto;
  grid-template-areas: 
    "nav nav nav"
    "empty1 contents empty2"
    "footer footer footer"; 
  }
}