.grid{
  display: grid;
  height: 100dvh;
  width: 100vw;
  background-color: rgb(10, 10, 10);
  grid-template-columns: 0.25fr 2fr 2fr 0.25fr;
  grid-template-rows: 0.5fr 2fr 2fr auto;
  grid-template-areas: 
   "nav nav nav nav"
   "empty1 contents contents empty2"
   "empty1 contents contents empty2"
   "footer footer footer footer"; 
 }
nav{
  grid-area: nav;
}
.empty1{
  grid-area:empty1 ;
  background-color: bisque;
}
.contents{
  grid-area: contents;
  display: flex;
  background-color: red;
  justify-content: center;
  align-items: center;
}
.empty2{
  grid-area: empty2;
  background-color: bisque;
}
footer{
  grid-area: footer;
}