#img1{
  background-image: url("../images/portfolio/canary.jpg");
}
#img2{
  background-image: url("../images/portfolio/elf1.jpg");
}
#img3{
  background-image: url("../images/portfolio/elf2.jpg");
}
#img4{
  background-image: url("../images/portfolio/elf3.jpg");
}
#img5{
  background-image: url("../images/portfolio/pokéball.jpg");
}
#img6{
  background-image: url("../images/portfolio/sculptest.jpg");
}
#img7{
  background-image: url("../images/portfolio/canary.jpg");
}