@font-face {
  font-family: 'Aquatico-Regular';
  src: url('../Styles/Fonts/Aquatico-Regular.otf');
}
.title{
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
}
.homepage{
  display: flex;
  flex-direction: column;
  height: 720px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.a-Button{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* CSS
.btt-play {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  touch-action: manipulation;
}*/

.btt-play{
  text-decoration: none;
  background-color: palevioletred;
  color: #FFFFFF;
  box-shadow: none;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  outline: none;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  display: inline-block;
  
  padding: 0px 16px;
  position: relative;
}
.btt-play:hover,
.btt-play:focus {
  background-color: #F082AC;
}
.gameDiv{
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
}