@font-face {
  font-family: 'Aquatico-Regular';
  src: url('../Styles/Fonts/Aquatico-Regular.otf');
}
nav{
  font-family: Aquatico-Regular;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  text-decoration: none;
}
.Logo{
  display: flex;
  cursor: pointer;
}
.Logo:hover{
  color: rgb(243, 211, 70);
}
.menu{
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}
.imgMenu{
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}
.links{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 24px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}
.links:hover{
  color: rgb(243, 211, 70);
}
.btn{
  color: #ffffff;
}
.bars{
  display: none;
  color: black;
}
.bars:hover{
  color: rgb(243, 211, 70);
}
@media screen and (max-width: 720px) {
  .menu{
    display: none;
  }
  .bars{
    display:flex;
    position:absolute;
    top:2.5%;
    transform: translate(-50%,120%);
    font-size:1.8rem;
    cursor:pointer;
  }
}